html {
  font-family: Georgia, serif;
  color: #fff;
  background-color: #495562;
}

.btn, .btn-ghost {
  color: #fff;
  border-color: #97a49b;
}

.btn:hover, .btn-ghost:hover {
  background-color: #fff;
  border-color: #fff;
  color: #fff;
}

.text {
  background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 500px;
    position: relative;
    overflow: hidden;
  }

  .text {
    position: absolute;
    bottom: 0;
  }

  .btn, .btn-ghost {
    color: #fff;
    border-color: #efefef;
  }

  .cruise {
    position: absolute;
    right: .05em;
  }

}

@media only screen and (min-width: 90em) {

  .text {
    left: 150px;
  }

  .wrapper {
    left: 150px;
  }

}
